.dashboardForm {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputField {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dashboardForm p {
  width: 100%;
}

.inputOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputOptions label {
  font-size: 16px;
}

.inputOptions input:disabled:hover {
  cursor: not-allowed;
}

.textInputField,
.inputButton {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 8px;
  text-align: center;
}

.inputButton {
  cursor: pointer;
  font-weight: 600;
}

.dashboardSaveButton {
  width: 600px;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid transparent;
  font-weight: 600;
}

.dashboardSaveButton:disabled:hover {
  cursor: not-allowed;
}

.dashboardSaveButton:hover {
  cursor: pointer;
  border: 1px solid #f0c3f1;
}
